#title{
    position: absolute; left: 50%; top: 30%; 
    transform: translate(-50%, -50%);
    text-align: center;
}
#food a{
    position: absolute; left: 40%; top: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    color : black
}
#cafe a{
    position: absolute; left: 60%; top: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    color : black

}